<section class='home'>

    {{#if userProfile}}

    <article>
        <img src='{{userProfile.picture}}' alt="profiel foto">
        <h2>{{userProfile.name}}</h2>
        <ul>
            {{#each userProfile.genres}}
                <li>{{this}},</li>
            {{/each}}
        </ul>
    </article>

{{#each userProfile.songs}}

    <article>
        <img src='{{albumArt}}' alt="favourite song 1">
        <audio src="{{source}}"></audio>
        <button class='play'><span></span></button>
        <h2>{{title}}</h2>
        <p>{{artist}}</p>
    </article>

{{/each}}

</section>
<section>
    <form action="/" method="post">
        <button name="like" value="true"> <img src="/images/icons/empty heart.png" alt="heart"> Like</button>
        <button name="like" value="false"> <img src="/images/icons/cross.png" alt="cross"> Dislike</button>
    </form>

    {{else}} 

        <img class='logo' src="/images/banners/mmm logo-1.png" alt="mmm logo">
        <h1>Sorry... We couldn't find any users</h1>
        <a href="/settings"> change your settings to discover more new people</a>
     
     {{/if}}       

</section>