<section class='home'>
    <article>
        <img src='{{userProfile.picture}}' alt="profiel foto">
        <h2>{{userProfile.name}}</h2>
        <ul>{{#each userProfile.genres}}
            <li>{{this}},</li>
            {{/each}}
        </ul>
    </article>
    <article>
        <img src='{{userProfile.song1.albumArt}}' alt="favourite song 1">
        <button><span></span></button>
        <h2>{{userProfile.song1.title}}</h2>
        <p>{{userProfile.song1.artist}}</p>
    </article>
    <article>
        <img src='{{userProfile.song2.albumArt}}' alt="favourite song 2">
        <button><span></span></button>
        <h2>{{userProfile.song2.title}}</h2>
        <p>{{userProfile.song2.artist}}</p>
    </article>
    <article>
        <img src='{{userProfile.song3.albumArt}}' alt="favourite song 3">
        <button><span></span></button>
        <h2>{{userProfile.song3.title}}</h2>
        <p>{{userProfile.song3.artist}}</p>
    </article>
</section>
<section>
    <form action="/" method="post">
        <button name="like" value="true"> <img src="/images/icons/empty heart.png" alt="heart"> Like</button>
        <button name="like" value="false"> <img src="/images/icons/cross.png" alt="cross"> Dislike</button>
    </form>
</section>