<section class='match'>
        {{#if match}} {{#each match}}
    <article>
        <img src='{{picture}}' alt="profile-picture">
        <h2>{{name}}</h2>
        <ul>
            <li>{{genre}}</li>{{genre}}
        </ul>
    </article>
    {{/each}}
    </ul>
        {{else}}
            <h1>You have no matches yet...</h1>
            {{!-- <a href="/">Explore further</a> --}}
        {{/if}}
</section>