(<section class="profile">
  <article>
    <img src='{{profileImg}}' alt="profiel foto">
    <ul>
      <li>Username:</li>
      <li>{{spotifyProfile.display_name}}</li>
      <li>E-mail:</li>
      <li>{{spotifyProfile.email}}</li>
      <li>Profile:</li>
      <li><a href="{{spotifyProfile.external_urls.spotify}}">{{spotifyProfile.external_urls.spotify}}</a></li>
    </ul>
    <a href="https://accounts.spotify.com/en/logout">Logout</a>
  </article>
</section>
<section class="musicList">
  <h1 id="profileH1">My Favourite Songs:</h1>
  {{#each myProfile.songs}}
  <article>
    <img src='{{albumArt}}' alt="favourite song 1">
    <div>
      <audio src="{{source}}"></audio>
      <button class='play'><span></span></button>
      <h2>{{title}}</h2>
      <p>{{artist}}</p>
    </div>       
  </article>
    <form action="/profile" method="post" class="editform" >
<section class="change">
  <article>
    <ul>
        <li>
          <input id="song" type="text" name="field{{@index}}" placeholder="Title/Artist">
        </li>
        <li><button value="{{@index}}" id="submitButton">Submit</button></li>
      </ul>
    </article>
  </section>
</form>
{{/each}}

  {{#if searchResults}}
  <article id="results" class="results">
  {{#each searchResults}}
    <li>
      {{name}}
    </li>
  {{/each}}
  </article>
  {{/if}}
  

  

 <button id="changeSongs">Change Songs</button>

  {{#each data}}
  <p>{{this}}</p>
  {{/each}}
</section>
<section>
  <article>
    <h2>My Genres</h2>
    {{#each myProfile.genres}}
    <ul>
      <li>{{this}}</li>
    </ul>
    {{/each}}
  </article>
</section>